.basket {
  position: absolute;
  top: 100%;
  left: 0%;
  display: none;
  width: 100%;
  min-height: 80vh;
  padding: 40px;
  background-color: #F9FAF0;
  border-radius: 25px;
  &.show {
    display: block;
  }
  &__header {
    @include flex (row, space-between, null, null);
    margin-bottom: 30px;
  }
  &__title {
    @include font ($bold, $lg, 1);
    font-size: 24px;
    color: #000;
  }
  &__delete {
    min-width: 30px;
    padding: 10px 10px;
    @include font ($medium, $sm, 1);
    color: #fff;
    background-color: #C779EB;
    border-radius: 15px;
  }
  &__list {
    margin-bottom: 35px;
  }
  &__item {
    @include flex (row, null, null, null);
    padding: 25px 0;
    @include font ($medium, $sm, 1.5);
    border-top: 1px solid #BEC1DA;
  }
  &__image {
    width: 80px;
    height: 100px;
    margin-right: 20px;
    border-radius: 5px;
  }
  &__info {
    @include flex (row, space-between, null, null);
    width: 100%;
  }
  &__info-name {
    @include font ($medium, $xs, 1.5);
  }
  &__info-new-cost {
    margin-bottom: 10px;
    @include font ($bold, $lg, 1);
  }
  &__info-old-cost {
    margin-bottom: 20px;
    @include font ($medium, $xs, 1);
    text-decoration: line-through;
    color: #8b8b8b;
  }
  &__info-delete {
    @include font ($medium, $xs, 1);
    color: #8b8b8b;
    background: none;
  }
  &__total {
    @include flex (row, end, null, null);
    @include font ($bold, $lg, 1);
  }
}

.product__count {
  position: absolute;
  top: 0;
  right: 10px;
  width: 20px;
  height: 20px;
  @include font ($regular, $xxs, 20px);
  color: #fff;
  background-color: crimson;
  border-radius: 50%;
  &.hide {
    display: none;
  }
}