.card {
    width: 300px;
    height: 520px;
    padding: 20px;
    background: #f8f8fa;
    border-radius: 25px;
    z-index: 1;

    @include flex(column, space-between, left, nowrap);

    @include md {
        width: 270px;
        height: 400px;
    }

    &__content {
        height: 400px;
        border-radius: 25px;
        position: relative;
        overflow: hidden;
        z-index: 1;

        @include md {
            height: 300px;
        }
    }

    &__photo {
        max-width: 100%;
        height: 100%;
    }

    &__fast-view {
        padding: 15px 30px;
        
        position: absolute;
        top: 150px;
        left: 16px;
        z-index: 5;

        background-color: #f8f8fa;
        border-radius: 15px;

        @include font($regular, $sm, $md);
        opacity: 0;
        transition: all 0.4s ease 0s;

        @include md {
            top: 100px;
            left: 0;
        }
        
    }
    &__fast-view:hover {
        opacity: 1;
    }

    &__bottom {
        width: 100%;
        padding: 10px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        position: absolute;
        top: 300px;
        left: 0;

        @include md {
            top: 200px;
        }
    }

    &__sale-value{
        width: 80px;
        height: 80px;

        display: flex;
        justify-content: center;
        align-items: center;

        @include font($regular, $xl, $md);

        border-radius: 15px;
        background: rgba($color: #f8f8fa, $alpha: 0.65);
    }

    &__add-in-basket-btn{
        padding: 15px 15px;
        background: rgba($color: #f8f8fa, $alpha: 0.65);
        border: none;
        border-radius: 15px;
        transition: all 0.4s ease 0s;
    }

    &__add-in-basket-btn:hover{
        background: #f8f8fa;
        border: none;
    }

    &__basket-btn-img{
        width: 50px;
      
    @include flex(column, space-between, left, nowrap);
    }
    
    &__menu {
        height: 400px;
        border: 2px solid $black-color;
        border-radius: 25px;
        background-color: rgb(215, 229, 250);
    }

    &__prices {
        padding: 0 10px;
        @include flex(row, space-between, center, nowrap);
    }

    &__new-price {
        @include font($bold, $lg, $lg);
    }

    &__old-price {
        @include font($medium, $md, $md);
        text-decoration: line-through;
    }

    &__title {
        padding: 0 10px;
        @include font($medium, $lg, $lg);
    }

    &__popup{
        width: 100%;
        height: 100%;

        position: absolute;
        top: 0;
        left: 0;

        opacity: 0;
        visibility: hidden;

        background-color: rgba($color: #000000, $alpha: 0.8);
        transition: all 1s ease 0s;
        z-index: 10;
    }

    &__popup-body {
        width: 70vh;
        height: 90vh;
        padding: 30px;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        background: #f8f8fa;
        border-radius: 25px;
        overflow: hidden;
    }

    &__popup:target{
        opacity: 1;
        visibility: visible;
        z-index: 10;
        transition: all 1s ease 0s;
    }

    &__popup-photo {
        width: 100%;
        height: 100%;
        border-radius: 25px;
    }

    &__popup-close {
        width: 100px;
        height: 100px;
        padding: 20px;

        position: absolute;
        top: 20px;
        left: 420px;
        z-index: 3;
        
        @include sm {
            width: 60px;
            height: 60px;
            padding: 10px;
            left: 330px;
            top: 30px;
        }
    }
}}