.card {
    width: 300px;
    height: 520px;
    padding: 20px;

    @include flex(column, space-between, left, nowrap);

    &__menu {
        height: 400px;
        border: 2px solid $black-color;
        border-radius: 25px;
        background-color: rgb(215, 229, 250);
    }

    &__prices {
        padding: 0 10px;
        @include flex(row, space-between, center, nowrap);
    }

    &__new-price {
        @include font($bold, $lg, $lg);
    }

    &__old-price {
        @include font($medium, $md, $md);
        text-decoration: line-through;
    }

    &__title {
        padding: 0 10px;
        @include font($medium, $lg, $lg);
    }
}