.footer {
    height: 120px;
    padding: 40px 0 120px;
     &__title {
        @include font($bold, $xxl, $xl);
        text-align: center;
     }
     color: #fff;

     
   &__lists {
      @include flex (row, space-around, flex-start, wrap);
   }

   &__list {
      margin: 0 10px;
   }

   &__list-title {
      @include font ($bold, $md, $md);
      margin: 12px 0px;
   }

   &__list-mobile {
      text-align: center;
   }

   &__list-item {
      @include font ($medium, $md, $md);
      margin: 12px 0px;
   }

   &__link {
      color: rgba(232, 232, 232, 0.71);
   }

   &__link:hover {
      color: #fff;
   }

   &__image-link {
      margin: 0 auto;
      max-width: 150px;
      max-height: 50px;
      border-radius: 10px;
   }

   &__rights {
      padding: 5px;
      text-align: center;
      color: rgba(232, 232, 232, 0.71);
   }

   &__check-compability{
      text-decoration: underline;
   }

   &__logos{
      @include flex(row, center, center, null);
      margin-bottom: 10px;
   }

   &__logo{
      margin: 10px;
   }

   &__pay-logo{
      max-height: 50px;
      max-width: 150px;
      color: rgba(232, 232, 232, 0.71);
   }
}
