.popup {
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;

    opacity: 0;
    visibility: hidden;

    background-color: rgba($color: #000000, $alpha: 0.8);
    transition: all 0.8s ease 0s;
    z-index: 10;

    
}

.popup-body {
    max-width: 70vh;
    width: 100%;
    max-height: 90vh;
    height: 100%;
    padding: 30px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: #f8f8fa;
    border-radius: 30px;
    overflow: hidden;
}

.open {
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;

    opacity: 1;
    visibility: visible;

    background-color: rgba($color: #000000, $alpha: 0.8);
    transition: all 0.8s ease 0s;
    z-index: 20;
}

.popup-photo {
    width: auto;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}

.popup-close {
    width: 60px;
    height: 60px;
    padding: 5px;

    position: absolute;
    top: 40px;
    right: 8%;
    background: rgba($color: #f8f8fa, $alpha: 0.65);
    border-radius: 15px;

    @include sm {
        right: 10%;
    }
}

.popup-close:hover {
    background: #f8f8fa;
}

.hiddenButtonArrow {
    visibility: hidden;
}