.title {
    height: 150px;
    padding-top: 50px;
    @include flex(row, center, center, nowrap);
    @include font($bold, 50px, $xxl);
    color: $black-color;

    @include md {
        height: 100px;
        padding-top: 30px;
        @include font($bold, $xxl, $xxl);
    }

    @include sm {
        height: 50px;
        padding-top: 20px;
        @include font($bold, $lg, $xxl);
    }
}