* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(to right, #cb11ab 0, #481173 100%);
}

.wrapper {
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
}

.main {
  position: relative;
  margin: 2px;
  padding: 0 20px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.55);
}