// ------ MEDIA QUERIS ------\\
$screen-xs-min: 414px;
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

// ------ COLOR ------\\
$black-color: #000;

// ------ TYPOGRAPHY ------\\
// FONT SIZE
$xxs: 14px;
$xs: 16px;
$sm: 18px;
$md: 20px;
$lg: 25px;
$xl: 35px;
$xxl: 40px;

// FONT WEIGHT
$regular: 400;
$medium: 500;
$bold: 700;